<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Detale obrazu</h1>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" (click)="goBack()" class="btn btn-primary">Back</button>
        <button type="button" (click)="deleteImage(dockerImageDetails)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <div *ngIf="dockerImageDetails">
    <h2>Details {{dockerImageDetails.Config.Image}}</h2>
    <p><span><b>Czas stworzenia obrazu: </b>{{dockerImageDetails.Created}}</span></p>
    <p><span><b>Rodzic obrazu: </b>{{dockerImageDetails.Parent}}</span></p>
    <div>
      <table class="table table-striped">
        <thead>
        <th scope="col">
          Nazwa obrazu:
        </th>
        </thead>
        <tbody>
        <tr *ngFor="let tag of dockerImageDetails.RepoTags">
          <td>{{tag}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
        <th scope="col">
          Zmienne środowiskowe:
        </th>
        </thead>
        <tbody>
        <tr *ngFor="let env of dockerImageDetails.Config.Env">
          <td>{{env}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
        <th scope="col">
          Eksponowane porty:
        </th>
        </thead>
        <tbody>
        <tr *ngFor="let ep of getKeys(dockerImageDetails.Config.ExposedPorts)">
          <td>{{ep}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
        <th scope="col">
          Volumes:
        </th>
        </thead>
        <tbody>
        <tr *ngFor="let ep of getKeys(dockerImageDetails.Config.Volumes)">
          <td>{{ep}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
        <th scope="col">
          Entrypoint:
        </th>
        </thead>
        <tbody>
        <tr *ngFor="let ep of dockerImageDetails.Config.Entrypoint">
          <td>{{ep}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>
</div>
