<!-- {{dockerImagesList | json}} -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Lista obrazów dockerowych</h1>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" (click)="goBack()" class="btn btn-primary">Back</button>
    </div>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name Image</th>
        <th scope="col">Id Image</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let image of dockerImagesList"  routerLink="/detailImage/{{image.Id}}">
      <td>{{image.RepoTags}}</td>
      <td>{{image.Id}}</td>
    </tr>
    </tbody>
  </table>
</div>
